
h1{
    background-color: $primario;
    color: $nombre;
    padding: 10px;
    margin: 5px 20px 5px 20px;
    border-radius: 15px;
}

.preheader{
    background-color: $textoPlano;
    color: $nombre;
}


.mynavbar{
    background-color: $destacado;
}

.nav-link {
    color: $textoPlano;
    font-size: large;
}

.navbar-expand-sm .navbar-collapse {
    flex-direction: row-reverse;
    align-items: center;
 
    
}

body{
    margin:0;
    padding:0;
    background-color: $fondoBody;
    
}