
h1{
    padding-left: 4%;
}
.logo{
    width: 300px;
    height: 100px;
    border: 0px;
    border-radius: 150px;
    @include mobile() {
        width: 95%;
    }
  
}

.preheader{
    background-color: $textoPlano;
    color: $destacado;
}

.mynavbar{
    background-color: $destacado;
    padding-right: 8%;
}

.nav-link {
    color: $textoPlano;
    font-size: large;
}

.navbar-expand-sm .navbar-collapse {
    flex-direction: row-reverse;
    align-items: center;
}

