.myTable{
    padding: (10px 30px 30px);
}



.btn-sm{
    background-color: $primario;
    color: $destacado;
    font-size: small;
    padding: 5px;  
}

 .twoButons{
    display: grid;
    justify-content: space-evenly;
    justify-items: stretch;
    box-shadow: none;
    border-bottom: 0;
    text-align: center;
    
       
}

tr{
    align-content: center;
    align-items: center;
    
}
