.myTable{
    padding: (10px 30px 30px);
}



.btn-sm{
    background-color: $primario;
    color: $destacado;
    font-size: small;
    padding: 5px;  
}

 .twoButons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
       
    }
