
body{
    margin:0;
    padding:0;
    
}

h3{
    padding: 15px;
    background-color: $primario;
    color: $destacado;
}

.form-Noticias{
    padding: 30px;
}

.mb-3{
    background-color: $destacado;
    color: $textoPlano;
}

.input-group-text{
    background-color: $destacado;
    color: $textoPlano; 
}

.finalizar{
    background-color: $primario;
    color: $destacado;
    font-size: x-large;
    padding: (15px 55px 15px 55px);    
}

.butongroup{
    align-items: center;
    justify-content:center;
}

