
h1{
    background-color: $primario;
    color: $destacado;
    padding: 10px;
    margin: 20px 30px 20px 10px;
}

.preheader{
    background-color: $textoPlano;
    color: $destacado;
}


.mynavbar{
    background-color: $destacado;
    height: 80px;
    
   
}

.nav-link {
    color: $textoPlano;
    font-size: large;
}

.navbar-expand-sm .navbar-collapse {
    flex-direction: row-reverse;
    align-items: center;
 
    
}