
body{
    padding:30px;
    
}

h3{
    padding: 15px;
    background-color: $primario;
    color: $destacado;
}

.form-Noticias{
    padding: 30px;
}

.mb-3{
    background-color: $destacado;
    color: $textoPlano;
}

.input-group-text{
    background-color: $destacado;
    color: var$textoPlano; 
}

.finalizar{
    background-color: $primario;
    color: $destacado;
    padding: (15px 55px 15px 55px);    
}

.butongroup{
    align-items: center;
    justify-content:center;
}
